// background
.bg-cover {
    background-size: cover;
    background-position: center center;
}

// bg color, text color
.bg-primary-lighter {
    background-color: rgb(255, 255, 255);
}

.text-primary-lighter {
    color: #EAF0ED;
}

.border-primary-lighter {
    border-color: #EAF0ED;
}